<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Módulos de Educación Financiera</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let module of modules; let i = index" class="col-12 mb-4">
      <div class="card">
        <div class="card-header" (click)="toggleModule(i)" style="cursor: pointer;">
          <h3>{{ module[0] }}</h3> <!-- Nombre del módulo -->
        </div>
        <!-- Mostrar el contenido solo si el módulo está activo -->
        <div *ngIf="activeModule === i" class="card-body">
          <h5>Recursos:</h5>
          <ul>
            <li *ngFor="let resource of module[1].resources">
              {{ resource }} <!-- Lista de recursos -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
