<div class="container mt-5">
    <div class="row">
    <div class="col-12">
        <h2 class="text-center">Módulos de Educación Financiera</h2>
    </div>
    </div>
    
    <div class="row">
      <div *ngFor="let module of modules" class="col-12 mb-4">
        <div class="card">
        <div class="card-header">
            <h3>{{ module[0] }}</h3> <!-- Nombre del módulo -->
        </div>
        <div class="card-body">
            <h5>Recursos:</h5>
            <ul>
              <li *ngFor="let resource of module[1].resources">
                {{ resource }} <!-- Lista de recursos -->
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>