.custom-card {
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff;
    width: 100%; /* Asegurar que los contenedores ocupen todo el ancho disponible */
}

@media (min-width: 768px) {
  .col-md-6:nth-child(1) {
    width: 65%; /* El chatbot ocupa más espacio en pantallas medianas o grandes */
  }

  .col-md-6:nth-child(2) {
    width: 35%; /* La calculadora ocupa menos espacio */
  }
}
.ruta-aprendizaje-btn {
  background-color: #EB0029;
  color: #FFFFFF;
  font-family: 'Gotham Medium', sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.ruta-aprendizaje-btn:hover {
  background-color: #DB0026;
  color: #FFFFFF;
}
