<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="row w-75 h-75 bg-light rounded">
      <div class="col-md-3 d-flex align-items-stretch">
        <div class="w-100 p-3 mb-3 bg-light text-center rounded">
          RUTA DE APRENDIZAJE
        </div>
      </div>
      <div class="col-md-6">
        <div class="row h-100">
          <div class="col-md-12 mb-3">
            <div class="p-3 bg-light text-center rounded h-25">
              INICIO DE SESION
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="p-3 bg-light text-center rounded h-25">
              NOTICIAS
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="p-3 bg-light text-center rounded h-25">
              BENEFICIOS
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-stretch">
        <div class="w-100 p-3 mb-3 bg-light text-center rounded">
          dashboard
        </div>
      </div>
    </div>
  </div>