<div class="container-fluid">
<div class="row">
    <div class="col-md-2 d-flex align-items-stretch">
    <div class="w-100 p-3 mb-3 bg-light text-center">
        RUTA DE APRENDIZAJE
    </div>
    </div>
    <div class="col-md-8">
    <div class="row">
        <div class="col-md-4 mb-3">
        <div class="p-3 bg-light text-center">
            INICIO DE SESION
        </div>
        </div>
        <div class="col-md-4 mb-3">
        <div class="p-3 bg-light text-center">
            NOTICIAS
        </div>
        </div>
        <div class="col-md-4 mb-3">
        <div class="p-3 bg-light text-center">
            BENEFICIOS
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-2 d-flex align-items-stretch">
    <div class="w-100 p-3 mb-3 bg-light text-center">
        dashboard
    </div>
    </div>
</div>
</div>