<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

<div class="container mt-5">
    <div class="section mb-4">
      <h2 class="section-title">RECOMENDACIONES</h2>
      <div class="row">
        <div *ngFor="let recomendacion of recomendaciones" class="col-md-3 mb-4 d-flex align-items-stretch">
          <div class="card w-100">
            <img [src]="recomendacion.image" alt="Imagen de Recomendación" class="card-img-top img-fluid">
            <div class="card-body text-center">
              <p class="card-text">{{ recomendacion.subtitle }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section mt-3">
      <h2 class="section-title">PRODUCTOS</h2>
      <div class="row">
        <div *ngFor="let producto of productos" class="col-md-3 mb-4 d-flex align-items-stretch">
          <div class="card w-100">
            <img [src]="producto.image" alt="Imagen de Producto" class="card-img-top img-fluid">
            <div class="card-body text-center">
              <p class="card-text">{{ producto.subtitle }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  