* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.header-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000; 
    width: 100%;
    height: 64px; /* Aumentamos la altura del header para más espacio */
    background-color: #EB0029;
    background-image: url('/assets/navigation.png');
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    height: 40px;
}

.navbar-nav {
    display: flex;
    gap: 10px; /* Aumentar el espacio entre los links */
}

.nav-link {
    color: white;
    font-size: 14px;
    white-space: nowrap; /* Evitar que los links se dividan en varias líneas */
}

/* Estilos para el menú hamburguesa */
@media (max-width: 1023px) {
    .navbar-collapse {
        background-color: #EB0029;
        width: 100%; /* Ancho completo al desplegarse */
    }

    .navbar-nav {
        display: block;
        text-align: center;
        padding-left: 0;
    }

    .nav-link {
        display: block;
        padding: 10px 0;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .logo-container {
        justify-content: flex-start;
        padding-left: 145px;
    }

    .navbar {
        padding-right: 145px; /* Padding para pantallas grandes */
    }

    .navbar-nav {
        justify-content: flex-end;
    }
}
