<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
<div class="login-container w-75 mx-auto d-flex justify-content-center align-items-center vh-100">
<form (ngSubmit)="login()">
<div class="mb-3">
    <label for="username" class="form-label">Ingresa tu usuario</label>
    <input type="text" id="username" [(ngModel)]="credentials.username" name="username" class="form-control" placeholder="Usuario" style="font-size: 25px;" required />
</div>
<div class="mb-3">
    <label for="password" class="form-label">Ingresa tu contraseña</label>
    <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" placeholder="Contraseña" style="font-size: 25px;" required />
</div>
<button type="submit" class="btn btn-primary" style="background-color: #EB0029; border-color: #EB0029; box-shadow: none w-100">Iniciar Sesión</button>
</form>
</div>