<div class="container w-100 mx-auto d-flex justify-content-center align-items-center vh-50" style="max-width: 400px; padding: 1rem;">
    <form (ngSubmit)="goToRuta()" class="w-100">
      <div class="mb-2">
        <label for="username" class="form-label" style="font-size: 16px;">Ingresa tu usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" style="font-size: 14px;" required />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label" style="font-size: 16px;">Ingresa tu contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" style="font-size: 14px;" required />
      </div>
      <button type="submit" class="btn w-100 mt-3" style="font-size: 16px;">Iniciar Sesión</button>
    </form>
  </div>
  